.bio{
    display: flex;
	flex-direction: column;
	background-image: linear-gradient(#bf9b30, #ffbf00, #ffbf00, #bf9b30);
    width: 100vw;
    height: 100vh;
	justify-content: center;
	align-items: center;
}

.container{
	margin-top: 20px;
	justify-content: center;

}

.matry{
	width: 220px;
	align-self: center;
	padding: 30px;
	background-color: aliceblue;
	border-radius: 50%;
	border: 4px solid goldenrod;

	
}

.links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links p{
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
}

.seguradoras{
	display: flex;
	flex-wrap: wrap;
	width:500px;
	margin-top: 50px;
	justify-content: space-between;
	align-items: center;
}

.seguradoras img{
	width: 120px;
	margin: 5px;
}
.seguradoras .tokio {
	width: 200px;
	height: 80px;
}

.seguradoras .liberty{
	width: 180px;
}

.seguradoras .allianz{
	width: 150px;
	height: 80px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

button {
	width: 150px;
	height: 80px;
	cursor: pointer;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: black;
	background: linear-gradient(#bf9b30, #ffbf00,
    #ffcf40, #ffbf00, #bf9b30);
	border: 2px solid white;
	box-shadow: 5px 5px 0 white, -5px -5px 0 white, -5px 5px 0 white,
		5px -5px 0 white;
	transition: 500ms ease-in-out;
}

button:active {
	box-shadow: 20px 5px 0 white, -20px -5px 0 white;
}

button:focus {
	outline: none;
}